@model ReviewsSite.Models.Restaurant
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Style/StyleSheet.css" />
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <title>RestaurantIndex</title>

</head>
     
<body>
    <h1>Restaurant Details</h1>
    <div>
        <img src="@Model.Image" alt="Restaurant Image" />
        <p>Name: <span>@Model.Name</span></p>
        <p>Category: <span>@Model.Category</span></p>
        <p>Description: <span>@Model.Description</span></p>
        @foreach (var review in Model.Reviews)
        {
            <div>Review: @review.Content</div>
            <a href="/Review/Update/@review.Id">Update</a>
            <a href="/Review/Delete/@review.Id">Delete</a>

        }
    </div>



    @*<a href="/Restaurant/Create">Create New Review</a>*@
    <a href="/Review/Create">Create New Review</a>
    
    <a href="/Restaurant/Index">Return to Restaurants List</a>


</body>
</html>
